{% load plotly_dash %}
{% load static %}
<!doctype html>
<html lang="es">
	
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>TFM-OSCAR ROJO- Mantenimiento predictivo -  Cuadro de Mando</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 's1.css' %}"/>
    </head>
	<STYLE>A {text-decoration: none;} </STYLE>
    <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url 'home' %}"> <img src="{% static 'logo_mini.gif' %}" class="img-fluid" alt="Home"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exploratory_data_analysis">EDA <span class="sr-only">(current)</span></a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/visualizacion">Visualización</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/datos">Comparativa Sensores</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/datos">Predicción</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/results">Resultado</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/import_data_file">Importar archivos <span class="sr-only">(current)</span></a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{% static 'TFM/TFM.pdf' %}" target="_blank">TFM-OSCAR ROJO</a>
                </li>
            </ul>
        </div>
    </nav>
	
    {% block main %}
    {% endblock %}
	
    <br/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>