{% extends 'base.html' %}
{% load static %}
{% load plotly_dash %}
{% block title %}
TFM-OSCAR ROJO- Mantenimiento predictivo -  Importar archivo
{% endblock %}
<!-- carsosel start  -->
<!-- ____________________________________________________________________________________ -->


{% block main %}
    {% if user.is_authenticated %}
    <!--<a href="{% url 'home' %}"> <img src="{% static 'logo.gif' %}" class="img-fluid" alt="Home"/></a>->>
    <br/>
    <br/>
    <h3>Importar fichero</h3>
    <br/>
    <br/>
    <!-- In Django csrf token needs to be provided before login form -->
    <!-- For security reason it's mandatory in Django -->

    <form action="{% url "import_data_file" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file"
        title="Upload Users file"
        name="users_file"
        style="border: 1px solid black; padding: 5px;"
        required="required">
    <p>
    <input type="submit"
        value="Cargar"
        style="border: 1px solid white; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>

    <p></p>
    <hr>
    {% else %}
		<br/>
		<br/>
        <h3>Importación ficheros</h3>
		<h3>No has iniciado sesión</h3>
		<h3>Por favor, inicie sesión para ver las gráficas</h3>
		<br/>
		<br/>
		<button onclick="window.location.href = '{% url 'login' %}';"><h6><strong>Identificate</strong></h6></button>

		{% endif %}

	{% plotly_footer %}

{% endblock %}