{% extends 'base.html' %}
{% load static %}
{% load plotly_dash %}
{% block title %}
TFM-OSCAR ROJO- Mantenimiento predictivo -  Visualizacion

{% endblock %}

<!-- carsosel start  -->
<!-- ____________________________________________________________________________________ -->



{% block main %}
	<main style="background-color: black">
		<!--<a href="{% url 'home' %}"> <img src="{% static 'logo.gif' %}" class="img-fluid" alt="Home"/></a>-->
		<!-- If successful login -->
		{% if user.is_authenticated %}
        
		<div style="margin-left: 50px;margin-right: 50px;margin-top: 50px;">
        {% plotly_direct name='dash_visualizacion_id' %}
		</div>	

		<!-- If not successful login -->
		{% else %}
		<br/>
		<br/>
        <h3>Visualización</h3>
		<h3>No has iniciado sesión</h3>
		<h3>Por favor, inicie sesión para ver las gráficas</h3>
		<br/>
		<br/>
		<button onclick="window.location.href = '{% url 'login' %}';"><h6><strong>Identificate</strong></h6></button>

		{% endif %}

	</main>
	{% plotly_footer %}

{% endblock %}